= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  #devise
    .wrapper_with_padding
      .row
        %h2 Edit Your User Record
        %br
      .row
        .col-sm-4.col-sm-offset-2
          %h3 Email Info
          = f.input :username, required: true, autofocus: true, :placeholder => "Create Username", label: false
          = f.input :email, required: true, placeholder: "Email Address", label: false, autofocus: true
          = f.association :gender, label_method: :gender,  value_method: :id, include_blank: false
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %p
              Currently waiting confirmation for: #{resource.unconfirmed_email} 
          = f.input :password, autocomplete: "off", placeholder: "password", hint: "leave it blank if you don't want to change it", required: false, label: false
          = f.input :password_confirmation, placeholder: "re-enter password", required: false, label: false   
          = image_tag current_user.avatar.url(:thumb)
          = f.input :avatar, input_html: { class: 'form-control'}
          = f.input :current_password, hint: "we need your current password to confirm your changes", required: true       
          %input{:type => "submit", :value => "Update Profile", class: 'btn btn-primary'}
          %br
          %br
        .col-sm-4
          %h3 Orders
          %table.table.table-hover
            %thead
              %tr
                %th Appointment
                %th Vendor
                %th Booking Date
                %th{:colspan => "2"}
            %tbody    
              - current_user.bookings.each do |booking|
                %tr
                  %td= booking.appointment.title
                  %td= booking.appointment.vendor.name
                  %td= localize(booking.created_at, :format => :short)


      Unhappy?
      %br
      #{link_to "Cancel My Account", registration_path(resource_name), data: { confirm: "Are you sure you want to cancel?" }, method: :delete}
      