<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor:</strong>
  <%= @vendor_location.vendor_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @vendor_location.location_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @vendor_location.notes %>
</p>

<%= link_to 'Edit', edit_vendor_location_path(@vendor_location) %> |
<%= link_to 'Back', vendor_locations_path %>
