<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '580725838769524'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>

<noscript>
<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=580725838769524&ev=PageView&noscript=1"/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

<script>
fbq('track', 'Purchase', {
value: 247.35,
currency: 'USD'
});
</script>


#booking
	.wrapper_with_padding
		.col-md-6.col-md-offset-3
			%h2 Confirm Appointment
			.row
				%table.table
					%tbody
						%tr
							%td
								%strong Vendor:
							%td= @appointment.vendor.user.username
						%tr
							%td
								%strong Service:
							%td= @appointment.title	
						%tr
							%td
								%strong Pampered Fee:
							%td= number_to_currency((@appointment.amount.cost*0.1), unit:"$")	
						%tr
							%td
								%strong Total Price:
							%td= number_to_currency(@appointment.amount.cost, unit:"$")								

			.row 
				= render 'form'

			.row
				%ul
					%li No payments are due to vendor at time of services.
					%li PamperedUp handles all payments so no financial info is exchanged.
					%li Payments are held until services are rendered
					%li If you are not 100% satisfied, we'll get your money back.
				%br
				= link_to 'Cancel Request', appointment_path(@appointment), class: "btn btn-danger"


:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-77303912-2', 'auto');
	ga('send', 'pageview');
	ga('send', 'pageview');