<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '580725838769524'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>

<noscript>
<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=580725838769524&ev=PageView&noscript=1"/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

#myCarousel.carousel.slide
	.carousel-inner
		.item.active
			= link_to image_tag('bell-header1.jpg'), root_path, class: "img-responsive"
			.container
				.carousel-caption
					%h1 Need Some Pampering?
					%p.lead.hidden-xs Why bother heading out for a little pampering, when you can have the best chefs, stylists, and massage therapists come to you.  Check it out now.
				.col-sm-6.col-sm-offset-3
					= link_to "Get Your Pamp", aptfilter_appointments_path, class: "button"

		.item
			= link_to image_tag('chef-banner1.jpg'), root_path, class: "img-responsive"
			.container
				.carousel-caption
					%h1 Dinner Party?
					%p.lead.hidden-xs Browse our peer reviewed private chefs to come out to your dinner party or event to take away all the hassle. Coordinate menus, browse resume's and get started.
				.col-sm-6.col-sm-offset-3
					= link_to "Check Out Our Chefs", aptfilter_appointments_path, class: "button"

		.item
			= link_to image_tag('massage-banner1.jpg'), root_path, class: "img-responsive"
			.container
				.carousel-caption 
					%h1 Rough Day?
					%p.lead.hidden-xs Have one of our certified massage therapists meet at your home or office for an amazing stress relieving swedish massage or get tension relieving deep tissue work.
				.col-sm-6.col-sm-offset-3
					= link_to "Check Out Our Therapists", massage_vendors_path, class: "button"


		.item
			= link_to image_tag('hair-banner1.jpg'), root_path, class: "img-responsive"
			.container
				.carousel-caption
					%h1 Night Out?
					%p.lead.hidden-xs Bring a certified professional stylist in for a cut, color or style for your big night. Get a manicure or pedicure while you're at it!
				.col-sm-6.col-sm-offset-3
					= link_to "Check Out Our Stylists", aptfilter_appointments_path, class: "button"

		.item
			= link_to image_tag('members-banner1.jpg'), root_path, class: "img-responsive"
			.container
				.carousel-caption
					%h1  
					%p.lead.hidden-xs  
				.col-sm-6.col-sm-offset-3
					%br
					%br
					= link_to "Membership Options", welcome_membership_path, class: "button"					

	%a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
		%span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
		%span.sr-only Previous
	%a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
		%span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
		%span.sr-only Next



#sample
	.wrapper
		.row
			.col.col-sm-4
				= image_tag "chef.jpg", class: "img-rounded"
				%h1 Help At Home
				%p Don't kill yourself trying to get everything ready on top of your super busy schedule.  Bring in a private chef to cook amazing dinners without breaking the back.  Find an amazing housecleaner or dog walker so you can spend your time doing what you really want.		
			.col.col-sm-4
				= image_tag "massage.jpg", class: "img-rounded"
				%h1 
					= link_to "Time To Relax", massage_vendors_path
				%p Whether you are looking for a hot stone massage to calm your nerves, a deep tissue treatment to work out sore muscles or a simple swedish massage to relax after a busy day, we've got experts that can get you what you are looking for.
			.col.col-sm-4
				= image_tag "hair.jpg", class: "img-rounded"
				%h1 Get Styled Up
				%p Why bother waiting for an appointment at a salon when you can get amazing treatment in the comfort of your own howe.  Our professionals can give you a great cut, color and style.  Schedule a manicure or a full service treatment.


#callouts
	.wrapper
		.row
			.col-sm-4
				%i.fa.fa-clock-o
				%h2= link_to "Save Time", new_user_registration_path
				%p It literally just take a minute to book a service with Pampered Up

			.col-sm-4
				%i.fa.fa-money
				%h2 Save Money
				%p Working with freelancers lets us pass a huge savings on to you.

			.col-sm-4
				%i.fa.fa-venus-mars
				%h2 Get Pampered
				%p Your deserve it, treat yourself to something amazing right now!



#welcome_works.container-fluid.text-center
	.wrapper
		%h2 HOW IT WORKS
		%br
			.col-sm-3
				= image_tag "search.jpg", class: "img-rounded"				
				%h3 Search
				%span.glyphicon.glyphicon-chevron-right	
				%p Our search algorithm naturally checks for vendors around your current location, or you can select another zip code if you are looking to book somwhere else. You can filter your results for just the right vendor.

			.col-sm-3
				= image_tag "compare.jpg", class: "img-rounded"
				%h3 Compare
				%span.glyphicon.glyphicon-chevron-right	
				%p We ask all of our clients who have gotten services from one of our vendors to rate them after each appointment to make sure they've gotten 5 star service every time. All of our reviews are verified from actual clients who have used our service.	
			.col-sm-3
				= image_tag "buy.jpg", class: "img-rounded"
				%h3 Book
				%span.glyphicon.glyphicon-chevron-right	
				%p No need to share any financial or personal information to get your appointment booked. All of the information can be exchanged directly through our platform so that payment and personal information stays in your control and secure.	
			.col-sm-3		
				= image_tag "win.jpg", class: "img-rounded"
				%h3 Enjoy!
				%span.glyphicon.glyphicon-ok				
				%p We want you to have an amazing experience, so we take every measure to ensure satisfaction and if you are not satisfied then we will guarentee your money back.	


#welcome_highlights.container-fluid
	.wrapper
		.col-sm-4
			%i.fa.fa-usd
			%h3 Payment
			%p We know you don't want to share your personal or financial information with freelancers (or with us for that matter!), so we make it super easy for you. We've partnered with Stripe is a third party source to take al payment information securely. We will hold a booking fee until after services are rendered. 
		.col-sm-4
			%i.fa.fa-mouse-pointer
			%h3 Booking
			%p Booking is super simple. You just search for vendor the you want to book and you can make the request and hold the spot and we will facilitate all of the schedulng. ou can always send a direct message to talk to your vendor about specific requests without having to share any of your personal information.
		.col-sm-4
			%i.fa.fa-ban
			%h3 Cancellations
			%p We understand that things happen and there is no fee if you need to cancel an appointment. We ask that you give us a reasonable notice so our professionals can make other accomodation and the final payment will not be taken until the day of your appointment after services are completed.	

#welcome_about.container-fluid.text-center
	.wrapper
		%h2 Our Story...
		%p Thanks so much for coming to check out our latest project. Please forgive us as we are building the airplane as we are already in flight, so you might run into little bugs here and there as we work to improve our user experience. PamperedUp start from a very simple philosophy, that everyone deserves to get a little pampering and we want to help make that real for as many people as possible. Our driving mission here is that we believe that getting access to incredible services like in-home massages and private chefs doesn't have to be limited to the super wealthy and like every other market, there should be offerings from the relatively inexpensive all they way up to the obscenely decadent. We all need to get a little bit of pampering, and by taking advantage of the sharing that has grown over the past several years with services like Uber, AirBnB and Fiverr, Pampered Up helps people trying to grow their local businesses while also getting people access to amazing services at a fair price.

		%p PamperedUp was created with a mission to connect people that are looking to get access to things that might have traditionally been out of reach right at their fingertips. Getting access to things like private in home gourment dining or having a private masseur show up at your office might have been unthinkable in the past, but with Pampered Up, we try to expand that access to as many of us as possible. From my personal experience, I never thought I would be able to have a private massage therapist until I signed up for one of those monthly membership packages where I was able to get services on a regular basis for a reasonable cost. I was blown away and was able to get access to something that I previously believed to be simply unattainable. I then though, what vaule add am I really getting from this building or the company that employs these therapists, and thought that we'd all actually be happier if I could just book them directly to come to my home when mutually convenient. That simple concept was the foundation of the idea that has grown into PamperedUp, and we are now working to put it into practice. We always welcome good feedback, so if there is anything we can do that will make your experience more enjoyable, please let us know.



#welcome_contact.container-fluid
	.wrapper
		.col-sm-5
			%p Contact us and we'll get back to you within 24 hours.
			%p
				%span.glyphicon.glyphicon-map-marker
				San Diego, CA, US
			%p
				%span.glyphicon.glyphicon-phone
				(415) 496-5580
			%p
				%span.glyphicon.glyphicon-envelope
				%a{:href => "mailto:admin@pamperedup.com?Subject=Wanted%20to%20drop%20you%20a%20line", :target => "_top"} admin@pamperedup.com

		.col-sm-7
			.row

				%link{:href => "//cdn-images.mailchimp.com/embedcode/classic-10_7.css", :rel => "stylesheet", :type => "text/css"}/
				:css
					#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

				#mc_embed_signup 
					%form#mc-embedded-subscribe-form.validate{:action => "//leftyseth.us12.list-manage.com/subscribe/post?u=fd9fd116c23d75e6992fb7233&id=4ba15edf8a", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
						#mc_embed_signup_scroll
							%h2 Subscribe to our mailing list
							.indicates-required
								%span.asterisk *
								indicates required
							.mc-field-group
								%label{:for => "mce-EMAIL"}
									Email Address
									%span.asterisk *
								%input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => ""}/
							.mc-field-group
								%label{:for => "mce-FNAME"} First Name
								%input#mce-FNAME{:name => "FNAME", :type => "text", :value => ""}/
							.mc-field-group
								%label{:for => "mce-LNAME"} Last Name
								%input#mce-LNAME{:name => "LNAME", :type => "text", :value => ""}/
							#mce-responses.clear
								#mce-error-response.response{:style => "display:none"}
								#mce-success-response.response{:style => "display:none"}
				     
							%div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
								%input{:name => "b_fd9fd116c23d75e6992fb7233_4ba15edf8a", :tabindex => "-1", :type => "text", :value => ""}/
							.clear
								%input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
				
				%script{:src => "//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js", :type => "text/javascript"}


:javascript
	!function ($) {
		$(function(){
			// carousel demo
			$('#myCarousel').carousel()
		})
	}(window.jQuery)
%script{:src => "../assets/js/holder/holder.js"}


:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-77303912-2', 'auto');
	ga('send', 'pageview');

:javascript
	(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='NAME';ftypes[3]='text';fnames[4]='ID';ftypes[4]='number';}(jQuery));var $mcj = jQuery.noConflict(true);
