#banner
	.banner_content
		= link_to image_tag('pampered_center.png'), root_path, class: "img-responsive"
		%br/
		.col-sm-4.col-sm-offset-4
			= link_to "Book a session now", appointments_path, class: "button"
			%br
			%br
			%h1 BETA MODE
			%br
			%br

#sample
	.wrapper
		.row
			.col-xs-8
				%h1 Massage
				%p Whether you are looking for a hot stone massage to calm your nerves, a deep tissue treatment to work out sore muscles or a simple swedish massage to relax after a busy day, we've got experts that can get you what you are looking for.
			.col-xs-4
				%br
				= image_tag "massage.jpg", class: "img-circle"
		.row
			.col-xs-4
				%br
				= image_tag "hair.jpg", class: "img-circle"
			.col-xs-8
				%h1 Stylists
				%p Why bother waiting for an appointment at a salon when you can get amazing treatment in the comfort of your own howe.  Our professionals can give you a great cut, color and style.  Schedule a manicure or a full service treatment.
		.row
			.col-xs-8
				%h1 Home
				%p Don't kill yourself trying to get everything ready on top of your super busy schedule.  Bring in a private chef to cook amazing dinners without breaking the back.  Find an amazing housecleaner or dog walker so you can spend your time doing what you really want.
			.col-xs-4
				%br
				= image_tag "chef.jpg", class: "img-circle"



#callouts
	.wrapper_with_padding
		.row
			.col-sm-4
				%i.fa.fa-clock-o
				%h2= link_to "Save Time", new_user_registration_path
				%p It literally just take a minute to book a service with Pampered Up

			.col-sm-4
				%i.fa.fa-money
				%h2 Save Money
				%p We dont have the overhead of traditional providers so we can pass that savings on to you.

			.col-sm-4
				%i.fa.fa-venus-mars
				%h2 Get Pampered
				%p Your deserve it, treat yourself to something amazing!

				
#bottom_cta
	.wrapper
		%h2 Why are you not already signed up?  
		%br/
		.row
			.col-sm-8.col-sm-offset-2
				%p Checkout  offerings in your area whenever you need to, and there is never any cost or committment to use us.  Pampered lets you book massages, manicures, pilates sessions and others right in the comfort of your own home.
				%p Its easy to create an account and find great partners in your area today!
		%br/
		.row
			.col-sm-4.col-sm-offset-4
				= link_to "View Our Partners", appointments_path, class: "button"
		%br
		%br

		%h2 PAMPERED IS STILL IN BETA TESTING... 
		%h2 SO PLEASE LET US KNOW YOUR THOUGHTS
