#myCarousel.carousel.slide
	.carousel-inner
		.item.active
			= link_to image_tag('bell-header1.jpg'), root_path, class: "img-responsive"
			.container
				.carousel-caption

					%h1 Need Some Pampering?
					%p.lead.hidden-xs Why bother heading out for a little pampering, when you can have the best chefs, stylists, and massage therapists come to you.  Check it out now.

		.item
			= link_to image_tag('chef-banner1.jpg'), root_path, class: "img-responsive"
			.container
				.carousel-caption
					%h1 Dinner Party?
					%p.lead.hidden-xs Browse our peer reviewed private chefs to come out to your dinner party or event to take away all the hassle. Coordinate menus, browse resume's and get started.
				.col-sm-6.col-sm-offset-3
					= link_to "Check Out Our Chefs", appointments_path, class: "button"

		.item
			= link_to image_tag('massage-banner1.jpg'), root_path, class: "img-responsive"
			.container
				.carousel-caption 
					%h1 Rough Day?
					%p.lead.hidden-xs Have one of our certified massage therapists meet at your home or office for an amazing stress relieving swedish massage or get tension relieving deep tissue work.
				.col-sm-6.col-sm-offset-3
					= link_to "Check Out Our Therapists", appointments_path, class: "button"

		.item
			= link_to image_tag('hair-banner1.jpg'), root_path, class: "img-responsive"
			.container
				.carousel-caption
					%h1 Night Out?
					%p.lead.hidden-xs Bring a certified professional stylist in for a cut, color or style for your big night. Get a manicure or pedicure while you're at it!
				.col-sm-6.col-sm-offset-3
					= link_to "Check Out Our Stylists", appointments_path, class: "button"

	%a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
	%a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;


#sample
	.wrapper
		.row

			.col-sm-4
				= image_tag "chef.jpg", class: "img-circle"
				%h1 Home
				%p Don't kill yourself trying to get everything ready on top of your super busy schedule.  Bring in a private chef to cook amazing dinners without breaking the back.  Find an amazing housecleaner or dog walker so you can spend your time doing what you really want.		
			.col-sm-4
				= image_tag "massage.jpg", class: "img-circle"
				%h1 Massage
				%p Whether you are looking for a hot stone massage to calm your nerves, a deep tissue treatment to work out sore muscles or a simple swedish massage to relax after a busy day, we've got experts that can get you what you are looking for.
			.col-sm-4
				= image_tag "hair.jpg", class: "img-circle"
				%h1 Stylists
				%p Why bother waiting for an appointment at a salon when you can get amazing treatment in the comfort of your own howe.  Our professionals can give you a great cut, color and style.  Schedule a manicure or a full service treatment.


#callouts
	.wrapper_with_padding
		.row
			.col-sm-4
				%i.fa.fa-clock-o
				%h2= link_to "Save Time", new_user_registration_path
				%p It literally just take a minute to book a service with Pampered Up

			.col-sm-4
				%i.fa.fa-money
				%h2 Save Money
				%p We dont have the overhead of traditional providers so we can pass that savings on to you.

			.col-sm-4
				%i.fa.fa-venus-mars
				%h2 Get Pampered
				%p Your deserve it, treat yourself to something amazing!

				
#bottom_cta
	%h2 Why are you not already signed up?  
	%br
	.row
		.col-sm-8.col-sm-offset-2
			%p Checkout  offerings in your area whenever you need to, and there is never any cost or committment to use us.  
			%p Pampered lets you book massages, manicures, pilates sessions and others right in the comfort of your own home.
			%p Its easy to create an account and find great partners in your area today!
	%br
	.row
		.col-sm-4.col-sm-offset-4
			= link_to "View Our Partners", appointments_path, class: "button"
	%br
	%br
	.row
		.col-sm-8.col-sm-offset-2
			%h3 PAMPERED IS STILL IN BETA TESTING... 
			%h3 SO PLEASE LET US KNOW YOUR THOUGHTS


#banner
	.banner_content
		= link_to image_tag('pampered_center.png'), root_path, class: "img-responsive"
		.col-sm-4.col-sm-offset-4
			= form_tag(appointments_path, :method => "get") do
				= text_field_tag(:search, '', placeholder: "Enter a zip code to get started")
				= submit_tag "Or Search Nearby Now", class: "button"
			%br


:javascript
	!function ($) {
		$(function(){
			// carousel demo
			$('#myCarousel').carousel()
		})
	}(window.jQuery)
%script{:src => "../assets/js/holder/holder.js"}


:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-77303912-2', 'auto');
	ga('send', 'pageview');