#vendor_what
	.row
		.col-sm-8.col-sm-offset-2
			%br/
			%h2 What Is Pampered Up?
			%p The best way to use the skills you have leared to create or grow your small business with access to all of the great features that you need help with from promotion to tracking to payment. 
			%br
			= image_tag "pampered_center.png", class: "img-rounded"
			%br
			%br/
			%p PamperedUp lets people looking for great services to be delivered to them personally find the ideal solution to their needs. Whether its booking a private chef for a dinner party, having a massage therapist come out to their office to save time, or finding that perfect stylist! Our customers trust our ability to deliver them an easy platform to find, book and pay for services simply and easily.
			%br/
			%p By becoming a PamperedUp partner, you'll not only be able to promote your services to a much broader audience but you will be able to take advantage of all of the perks of being a PamperedPartner with tools to help you run, streamline and grow your business. Best of all, its totally free to use and you can book with us as much or as little as you need to.	
			%br/

	.row
		.col-sm-4.col-sm-offset-2
			%br
			= image_tag "pamper_service.jpg", class: "img-rounded"
			%br
			%br/
			%p PamperedUp lets people looking for great services to be delivered to them personally find the ideal solution to their needs.
		.col-sm-4
			%br
			= image_tag "smartphone.jpg", class: "img-rounded"
			%br
			%br/
			%p PamperedUp lets people looking for great services to be delivered to them personally find the ideal solution to their needs. 			


#vendor_highlights
	.wrapper_with_padding
		.row
			%h2 How Do We Help You?
			%p We bring the best of your offerings out to the customers you are looking for without the cost or hassle of trying to organize everything on your own.
			%br/

		.row
			.col-sm-4
				%i.fa.fa-calendar
				%h3 Schedule
				%p Use our simple scheduler to let your customers see exactly when you are available and book directly without any hassle for either you or the customer.

			.col-sm-4
				%i.fa.fa-users
				%h3 Connect
				%p Find new customers out there who are looking for just what you offer. Find out what other professionals in your area are doing to grow your business.

			.col-sm-4
				%i.fa.fa-dashboard
				%h3 Monitor
				%p You can track all of your appointmnets, customers, finances and more just by logging into your account and see what you're doing.

		.row
			.col-sm-4
				%i.fa.fa-money
				%h3 Quick Payments
				%p Take the hassle and concern out of collecting cash. PamperedUp takes in all secure payments to guve you and customers peace of mind.

			.col-sm-4
				%i.fa.fa-thumbs-o-up
				%h3 Reviews
				%p Let your great work shine out to the world. People trust reviews more when they are not just the ones you choose to post on your sites.

			.col-sm-4
				%i.fa.fa-line-chart
				%h3 Promotion
				%p There is strength in numbers, so let us all grow our businesses together and share the common community that is out searching for you.

#vendor_who
	.wrapper_with_padding
		.row
			.col-sm-8.col-sm-offset-2
				%br/
				%h2 Who Is An Ideal Pampered Partner?
				%p Anyone who is looking to add incremental growth to their day job with side work or looking to grow your small busienss offering in home services to busy professionals. Our service caters specifically to clients who want a little bit of pampering to make their lives easier.
				%br/ 

		.row
			.col-sm-4
				%br
				= image_tag "massage.jpg", class: "img-circle"
				%p Massage Therapists

			.col-sm-4
				%br
				= image_tag "chef.jpg", class: "img-circle"
				%p Private Chefs

			.col-sm-4
				%br
				= image_tag "hair.jpg", class: "img-circle"
				%p Personal Styling


#vendor_why
	.wrapper_with_padding
		.row
			.col-sm-8.col-sm-offset-2
				%h2 Why Use Pampered Up?
				%p We make it so super easy to work with us and we want your business to grow as much as you do. The biggest concerns that customers have with hiring freelancers is they need to know about their reputations and need to make sure their money is secure. Those are our two top priorities for our customers and clients.
		.row
			.col-sm-4
				%p.quote_header "
				%p.quote I love getting to check the reviews and feedback before booking my services

			.col-sm-4
				%p.quote_header "
				%p.quote I used to hate to try to find freelancers because I never knew who was any good?

			.col-sm-4
				%p.quote_header "
				%p.quote The best part is getting to just pay through the app and leave my tip without even worrying about it!

#vendor_how
	.row
		.col-sm-8.col-sm-offset-2
			%br/
			%h2 How Does This All Work?
			%p The best way to use the skills you have leared to create or grow your small business with access to all of the great features that you need help with from promotion to tracking to payment. 
			%br
			= image_tag "process.png", class: "img-rounded"
			%br
			%br/
			%p PamperedUp lets people looking for great services to be delivered to them personally find the ideal solution to their needs. Whether its booking a private chef for a dinner party, having a massage therapist come out to their office to save time, or finding that perfect stylist! Our customers trust our ability to deliver them an easy platform to find, book and pay for services simply and easily.
			%br/
			%p By becoming a PamperedUp partner, you'll not only be able to promote your services to a much broader audience but you will be able to take advantage of all of the perks of being a PamperedPartner with tools to help you run, streamline and grow your business. Best of all, its totally free to use and you can book with us as much or as little as you need to.	
			%br/				


:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-77303912-2', 'auto');
	ga('send', 'pageview');