#vendor_edit
  .wrapper_with_padding
    = simple_form_for @vendor, html: { multipart: true } do |f|
      - if @vendor.errors.any?
        #errors
          %p
            = @vendor.errors.count
            Prevented this appointment from saving
          %ul
            - @vendor.errors.full_message.each do |msg|
              %li= msg 


      .form-style-6
        .row
          %h2 Edit Your Record
        .row
          .col-md-7.col-md-offset-1
            = f.input :name, label: "Vendor Name"
            = f.input :bio, label: "Bio"
          .col-md-3        
            = image_tag @vendor.avatar.url(:medium)
            = f.input :avatar, input_html: { class: 'form-control'}

        .row
          .col-md-4.col-md-offset-1
            %fieldset#vendor-locations
              %h3 Locations
              %ol
                = f.simple_fields_for :vendor_locations do |vendorlocation|
                  = render 'vendor_location_fields', f: vendorlocation
              = link_to_add_association 'Add Additional Locations', f, :vendor_locations, class: "btn btn-default add-button", 'data-association-insertion-node' => "#vendor-locations ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|vendor_location| vendor_location.build_location; vendor_location }	


          .col-md-3
            %fieldset#vendor-services
              %h3 Services
              %ol
                = f.simple_fields_for :vendor_services do |vendorservice|
                  = render 'vendor_service_fields', f: vendorservice
              = link_to_add_association 'Add Additional Services', f, :vendor_services, class: "btn btn-default add-button", 'data-association-insertion-node' => "#vendor-services ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|vendor_service| vendor_service.build_service; vendor_service }  

          .col-md-3
            %fieldset#vendor-licenses
              %h3 Licenses
              #notes
                = f.simple_fields_for :vendor_licenses do |vendorlicense|
                  = render 'vendor_license_fields', f: vendorlicense
                .links
                  = link_to_add_association 'Add License', f, :vendor_licenses, class: "btn btn-default add-button"  

        .row
          .col-md-3.col-md-offset-3
            %input{:type => "submit", :value => "Complete Vendor Profile", class: 'button'}
          .col-md-3
            = link_to "Back", root_path, class: "button" 


