<%# app/views/vendors/_list.html.erb %>
<div id="filterrific_results">

  <div>
    <%= page_entries_info vendors %>
  </div>

  <table>
    <tr>
      <th>Name</th>
      <th>User ID</th>
      <th>Country</th>
      <th>Registered at</th>
    </tr>
    <% vendors.each do |vendor| %>
      <tr>
        <td><%= link_to(vendor.name, vendor_path(vendor)) %></td>
        <td><%= vendor.user.username %></td>
        <td><%= vendor.vendor_type.title %></td>
        <td><%= vendor.created_at %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate vendors %>