#vendor_show
	.wrapper
		.container-fluid
			.row
				.col-md-3
					%img.img-responsive.img-rounded{alt: "Profile Avatar", src: @vendor.avatar.url(:medium)}
					%table.table
						.row
						- if @vendor.user_id.nil?
							.col-md-12
								= link_to "Claim Your Profile", edit_vendor_path(@vendor), class: "button"

						- elsif @vendor.id == current_user.vendor.id
							.col-md-12
								= link_to "Edit Profile", edit_vendor_path(@vendor), class: "button"	
							.col-md-12
								= link_to "Create Appointment", new_appointment_path, class: "button"	

						- else user_signed_in?
							.col-md-6
								= link_to "Review Me", root_path, class: "button"	
							.col-md-6
								= link_to "Message Me", root_path, class: "button"						
				.col-md-9
					#vendor_demo
						%table.table
							%tbody
								%tr
									%td
										%strong Username:
									%td= @vendor.user.username
								%tr
									%td
										%strong Business:
									%td= @vendor.name
								%tr
									%td
										%strong Bio:
									%td= @vendor.bio									
	
			.row	
				.col-md-12
				- if user_signed_in?
					/ Nav tabs
					%ul.nav.nav-tabs{:role => "tablist"}
						%li.active{:role => "presentation"}
							%a{"aria-controls" => "appointments", "data-toggle" => "tab", :href => "#appointment", :role => "tab"} Appointments
						%li{:role => "presentation"}
							%a{"aria-controls" => "locations", "data-toggle" => "tab", :href => "#locations", :role => "tab"} Locations
						%li{:role => "presentation"}
							%a{"aria-controls" => "services", "data-toggle" => "tab", :href => "#service", :role => "tab"} Services	
						%li{:role => "presentation"}
							%a{"aria-controls" => "licenses", "data-toggle" => "tab", :href => "#license", :role => "tab"} Licenses
						
					/ Tab panes
					.tab-content

						#appointent.tab-pane.active{:role => "tabpanel"}
							%table.table.table-hover
								%thead
									%tr
										%th Title
										%th Description
										%th Amount
										%th View
										%th{:colspan => "4"}
								%tbody
									- @appointments.each do |appointment|
										%tr
											%td= appointment.title
											%td= appointment.description
											%td= number_to_currency(appointment.amount.cost, unit:"$")
											%td= link_to 'View', appointment_path(appointment)

						#locations.tab-pane{:role => "tabpanel"} 
							%table.table.table-hover
								%thead
									%tr
										%th
										%th Address 1
										%th Address 2
										%th City
										%th State
										%th Zip
										%th Location Type
										%th{:colspan => "7"}
								%tbody
									- @vendor.vendor_locations.each do |vendor_locations|
										%tr
											%td= image_tag "http://maps.google.com/maps/api/staticmap?size=150x150&sensor=false&zoom=13&markers=#{vendor_locations.location.latitude}%2C#{vendor_locations.location.longitude}"

											%td= image_tag google_map(center: [ vendor_locations.location.latitude, vendor_locations.location.longitude ].join(','))


											%td= link_to vendor_locations.location.add_1, location_path(vendor_locations.location)
											%td= vendor_locations.location.add_2								
											%td= vendor_locations.location.city
											%td= vendor_locations.location.state
											%td= vendor_locations.location.zip

						#service.tab-pane{:role => "tabpanel"} 
							%table.table.table-hover
								%thead
									%tr
										%th Service
										%th Notes
										%th{:colspan => "2"}
								%tbody
									- @vendor.vendor_services.each do |vendor_services|
										%tr
											%td= vendor_services.service.title
											%td= vendor_services.notes

						#license.tab-pane{:role => "tabpanel"} 
							%table.table.table-hover
								%thead
									%tr
										%th Licenser
										%th License Name
										%th Issue Date
										%th License Number
										%th{:colspan => "4"}
								%tbody
									- @vendor.vendor_licenses.each do |vendor_licenses|
										%tr
											%td= vendor_licenses.licenser
											%td= vendor_licenses.name											
											%td= vendor_licenses.issue_date
											%td= vendor_licenses.license_number

:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-77303912-2', 'auto');
	ga('send', 'pageview');
