%p#notice= notice
%h1 Listing Vendor Documents
%table
  %thead
    %tr
      %th Name
      %th Vendor
      %th{:colspan => "3"}
  %tbody
    - @vendor_documents.each do |vendor_document|
      %tr
        %td= vendor_document.name
        %td= vendor_document.vendor_id
        %td= link_to 'Show', vendor_document
        %td= link_to 'Edit', edit_vendor_document_path(vendor_document)
        %td= link_to 'Destroy', vendor_document, method: :delete, data: { confirm: 'Are you sure?' }
%br/


= link_to 'New Vendor document', new_vendor_document_path
