.wrapper
  = simple_form_for @appointment, html: { multipart: true } do |f|
    - if @appointment.errors.any?
      #errors
        %p
          = @appointment.errors.count
          Prevented this appointment from saving
        %ul
          - @appointment.errors.full_message.each do |msg|
            %li= msg

    .form-style-6
      %form
        %fieldset
          .row
            .col-sm-5
              = f.input :service_id, collection: VendorType.where(id: current_user.vendor.vendor_type_id), as: :grouped_select, group_method: :services, label: "Service Category", include_blank: false
            .col-sm-5
              = f.association :amount, label_method: :cost,  value_method: :id, label: "Amount (in dollars)",include_blank: false     
            .col-sm-2   
              = f.input :active, label: "Appointment Active"
          .row
            .col-sm-12
              = f.input :title, label: "Appointment Title"
            .col-sm-12
              = f.input :description, label: "Appointment Description"
          
        %br/


      %input{:type => "submit", class: "button", :value => "Finalize Appointment Detail"}/ 

