.well
  = form_for_filterrific @filterrific do |f|
    .row
      .col-md-3
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Search by first name, last name, or email.' }
          %label Search
          = f.text_field :search_query, :class => 'filterrific-periodically-observed form-control'
      .col-md-3
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Filter by country.' }
          %label Service
          = f.select :with_service_id, @filterrific.select_options[:with_service_id], { :include_blank => '- Any -' }, { :class => 'form-control' }
      .col-md-2
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Filter by registration date.' }
          %label Registered after
          = f.text_field :with_created_at_gte, :class => 'js-datepicker form-control'
      .col-md-4
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Change the sorting.' }
          %label Sorted by
          = f.select :sorted_by, @filterrific.select_options[:sorted_by],{}, { :class => 'form-control' }
#results
  = render :partial => 'appointments/list', :locals => { :appointments => @appointments }


:javascript
  $('.js-datepicker').datepicker();
  $('#overlayTrigger').click(function(event) {
    event.preventDefault();
    $('body').chardinJs('start');
  });

:javascript
    $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
            return $(this).attr('dscore');
        }
    }); 

:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @hash.to_json});
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-77303912-2', 'auto');
  ga('send', 'pageview');