#appointment_show
	%h2= @appointment.title
	.container-fluid
		.row
			.col-md-3
				%img.img-responsive.img-rounded{alt: "Profile Avatar", src: @appointment.vendor.avatar.url(:medium)}	
			
			.col-md-9
				.col-md-10
					%table.table
						%tbody						
							%tr
								%td
									%strong Price:
								%td= number_to_currency(@appointment.amount.cost, unit:"$")
							%tr
								%td
									%strong Username:
								%td= @appointment.vendor.user.username
							%tr
								%td
									%strong Gender:
								%td= @appointment.vendor.user.gender.gender 
							%tr
								%td
									%strong Bio:
								%td= simple_format(@appointment.vendor.bio)
							%tr
								%td
									%strong Share Us:
								%td= social_share_button_tag("PamperedUp")
	
				.col-md-2

					- if user_signed_in? && Vendor.exists?(user_id: current_user.id) && @appointment.vendor_id == current_user.vendor.id 

						= link_to "Edit Appointment", edit_appointment_path(@appointment), class: "button"	
						= link_to "Delete Appointment", @appointment, method: :delete, data: { confirm: 'Are you sure?' }, class: "button"
						= link_to "View Profile", vendor_path(@appointment.vendor_id), class: "button"	

					- else
						= link_to "Review Me", new_vendor_review_path(@appointment.vendor_id), class: "button"	
						= link_to "Book Now", new_appointment_booking_path(@appointment), class: "button"	
						= link_to "View Profile", vendor_path(@appointment.vendor), class: "button"	

		.row
			.col-md-12 
				%h2 APPOINTMENT DESCRIPTION
				%p= simple_format(@appointment.description)
				%br/
				.col-sm-4.col-sm-offset-4
					= link_to "Book Now", new_appointment_booking_path(@appointment), class: "button"	

:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-77303912-2', 'auto');
	ga('send', 'pageview');
