<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '580725838769524'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>

<noscript>
<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=580725838769524&ev=PageView&noscript=1"/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

#appointment_show
	%h2= @appointment.title
	.container-fluid
		.row
			.col-md-3
				%img.img-responsive.img-rounded{alt: "Profile Avatar", src: @appointment.vendor.avatar.url(:medium)}
				%p= social_share_button_tag("PamperedUp")	
			
			.col-md-9
				.col-md-9
					%table.table
						%tbody						
							%tr
								%td
									%strong Price:
								%td= simple_format(number_to_currency(@appointment.amount.cost, unit:"$"))
							%tr
								%td
									%strong Length:
								%td= simple_format(@appointment.duration.duration)
							%tr
								%td
									%strong Service:
								%td= simple_format(@appointment.service.title)
							%tr
								%td
									%strong Vendor:
								%td= simple_format(@appointment.vendor.name)
							%tr
								%td
									%strong Description:
								%td= simple_format(@appointment.description)

	
				.col-md-3

					- if user_signed_in? && Vendor.exists?(user_id: current_user.id) && @appointment.vendor_id == current_user.vendor.id 

						= link_to "Edit Appointment", edit_appointment_path(@appointment), class: "button"	
						= link_to "View Profile", vendor_path(@appointment.vendor_id), class: "button"	
						= link_to "Delete Record", @appointment, method: :delete, data: { confirm: 'Are you sure you want to delete this appointment? This can not be restored' }, class: "button button-danger"

					- else
						= link_to "View Profile", vendor_path(@appointment.vendor), class: "button"	
						= link_to "Review Me", new_vendor_review_path(@appointment.vendor_id), class: "button"	
						= link_to "Book Now", new_appointment_booking_path(@appointment), class: "button"	
						

:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-77303912-2', 'auto');
	ga('send', 'pageview');
