!!! 5

%html
%head

	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	%link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}/
	%link{:href => "slick/slick.css", :rel => "stylesheet", :type => "text/css"}/
	%link{:href => "slick/slick-theme.css", :rel => "stylesheet", :type => "text/css"}/
	%meta{:content => "initial-scale = 1.0,maximum-scale = 1.0", :name => "viewport"}/
	= display_meta_tags
	= csrf_meta_tags

	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '580725838769524'); fbq('track', 'PageView');
	</script>

	<noscript>
	<img height="1" width="1" src="https://www.facebook.com/tr?id=580725838769524&ev=PageView&noscript=1"/>
	</noscript>
	<!-- End Facebook Pixel Code -->


%body
	%nav.navbar.navbar-inverse.navbar-fixed-top
		.container-fluid
			.navbar-header
				%button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				%a.navbar-brand
				= link_to image_tag('pampered_header.png'), root_path
			#myNavbar.collapse.navbar-collapse
				%ul.nav.navbar-nav
					%li
						= link_to "Home", root_path
					%li
						= link_to "About", welcome_about_path


				%ul.nav.navbar-nav.navbar-right
					- if user_signed_in?

						%li.dropdown	
							%a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
								Account	
								%span.caret
							%ul.dropdown-menu

								%li
									= link_to "User Account", edit_user_registration_path	

								- if user_signed_in? && !Vendor.exists?(user_id: current_user)	
									%li
										=link_to "Offer Services", new_vendor_path			
															
								- if user_signed_in? && Vendor.exists?(user_id: current_user)	
									%li
										= link_to "Vendor Profile", vendor_path(current_user.vendor.id)		
									%li
										= link_to "Create Appointment", new_appointment_path		

						%li.dropdown	
							%a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
								Messages	
								%span.caret
							%ul.dropdown-menu
								%li
									= link_to "View Messages", conversations_path

						%li
							= link_to destroy_user_session_path, method: :delete do
								%span.glyphicon.glyphicon-user 
								Sign Out

					- else
						%li
							= link_to "List Your Business", welcome_vendors_path, class: "button-clear"
						%li
							= link_to new_user_registration_path do
								%span.glyphicon.glyphicon-user
								Sign Up	
								
						%li
							= link_to new_user_session_path do
								%span.glyphicon.glyphicon-log-in
								Login								

	- flash.each do |key, value|
		%div{:class => "alert alert-#{key}"}
			= value

	= yield

	%nav.navbar.navbar-footer
		.wrapper
			.col-md-3
				%ul.list-group
					%li
						= link_to "Twitter", "http://www.twitter.com/getyourpamp", :target => "_blank" 
						%span.sr-only (current)
					%li
						= link_to "Facebook", "https://www.facebook.com/getyourpamp/", :target => "_blank" 
					%li
						= link_to "Instagram", "http://www.instagram.com/getyourpamp", :target => "_blank" 
					%li
						= link_to "Pinterest", "https://www.pinterest.com/pamperedup/pins", :target => "_blank" 
			.col-md-3
				%ul.list-group		
					%li
						=link_to "Terms Of Use", welcome_terms_path	
					%li
						= link_to "Offer Services", welcome_vendors_path
			.col-md-3
				%ul.list-group		
					%li
						= mail_to "support@pamperedup.com", "Contact", subject: "Pampered Contact Request"	

			.col-md-3
				%ul.list-group		
					%li
						%p.copy &copy; PamperedUp, LLC 2017  

				                  
